@use "../../styles" as *;

.title {
  font-size: 32px;
  font-weight: 600;
  text-align: center;
}

.subtitle {
  font-size: 24px;
  font-weight: 400;
  text-align: center;
}

.button {
  background-color: var(--blue);
  border-bottom: 3px solid #00000080;
  border-radius: 6px;
  border-right: 3px solid #00000080;
  color: var(--white);
  cursor: pointer;
  font-weight: 500;
  padding: 8px;
}

.button:active {
  border-bottom: none;
  border-left: 3px solid #00000080;
  border-right: none;
  border-top: 3px solid #00000080;
}
