.vs/
bin/
obj/

Publish/

*.suo
*.user
*.bak
*.cache
*.csproj.user
*.userprefs

*.log
*.vscode/
*.vssettings
*.vssscc
*.vspscc
*.bak
_UpgradeReport_Files/

packages/

*.nupkg
*.pdb

TestResults/

*.bak
*.backup

Temp/
