"use client";

import { Greetings } from "components/Greetings";
import type { NextPage } from "next";
import { ProtectedRoute } from "routes/ProtectedRoute";
<% if (data.style === "CSS Modules") { -%>
import styles from "./styles.module.css";
<% } -%>
<% if (data.style === "SASS Modules") { -%>
import styles from "./styles.module.scss";
<% } -%>
<% if (data.style === "Styled Components") { -%>
import * as S from "../app/styles";
<% } -%>

const Home: NextPage = (): JSX.Element => {
  return (
    <ProtectedRoute>
<% if (data.style === "CSS Modules" || data.style === "SASS Modules") { -%>
      <div className={styles.box}>
        <Greetings />
      </div>
<% } -%>
<% if (data.style === "Styled Components") { -%>
      <S.Box>
        <Greetings />
      </S.Box>
<% } -%>
<% if (data.style === "TailwindCSS") { -%>
      <div className="flex items-center flex-col gap-4 justify-center min-h-screen">
        <Greetings />
      </div>
<% } -%>
    </ProtectedRoute>
  );
};

export default Home;
