<% if (data.stateManagement === "Context API") { -%>
import { CounterContext } from "contexts/CounterContext";
import { useContext } from "react";
<% } -%>
<% if (data.stateManagement === "Zustand") { -%>
import { useCounterStore } from "store/useCounterStore";
<% } -%>
import { State } from "types/state";

export const Greetings = (): JSX.Element => {
<% if (data.stateManagement === "Context API") { -%>
  const counterStore: State.Counter = useContext(CounterContext);
<% } -%>
<% if (data.stateManagement === "Zustand") { -%>
  const counterStore: State.Counter = useCounterStore();
<% } -%>

  return (
    <>
      <h1 className="text-[32px] font-semibold text-center">
        💫 Hello, <%= data.author %>! 💫
      </h1>
      <h2 className="text-2xl font-normal text-center">
        You chose the awesome stack: <br /> React + NextJS + TailwindCSS +
        <%= data.stateManagement %> + <%= data.backend %>
      </h2>
      <h2 className="text-2xl font-normal text-center">
        🚀 Have a nice coding 🚀
      </h2>
      <button
        type="button"
        onClick={counterStore.increment}
        className="bg-primary-500 rounded-md text-white cursor-pointer font-medium p-2 animated-btn"
      >
        Click me! {counterStore.value}
      </button>
    </>
  );
};
